.App {
  font-family: sans-serif;
  text-align: center;
}
.numberbox {
  font-size: 14px;
  padding: 2px;
  width: 50px;
  text-align: center;
  margin-right: 8px;
}
.textbox {
  font-size: 14px;
  padding: 2px;
  width: 128px;
  text-align: left;
  margin-right: 8px;
}